<div class="item" data-bookmark="{{BOOKMARK}}" data-categories="{{CATEGORIES}}" data-ingredients="{{INGREDIENTS}}">
    <div class="item-contents">
        <div class="item-image-container">
            <a href="{{CAPTION}}"><img src="{{IMG_URL}}" alt="{{CAPTION}}"></a>
        </div>
        <div class="item-info-container">
            <span class="item-title">{{CAPTION}}</span>
        </div>
        <div class="item-button-container">
            <button type="button" class="far fa-star"></button>
            <button type="button" class="fas fa-trash"></button>
        </div>
    </div>
</div>